# linguist rules to ensure the repository shows as 100% CMake

# don't detect language of unit tests and injectors
tests/* linguist-vendored
Injectors/* linguist-vendored

# LanguageSupport ignore list
LanguageSupport/D/CMakeDCompilerABI.d linguist-vendored
LanguageSupport/D/CMakePlatformId.di.in linguist-vendored
LanguageSupport/D/CMakeDCompilerId.d.in linguist-vendored
